body {
    background-image: url("images/Website-Background-Images.jpg");
    background-color: lightgreen;
    background-size: cover;
}

h1, h2 {
    text-align: center;
    color: darkorange
}

h3, h4, h5 {
    text-align: left;
    color: darkorange;
}

h3 {
    font-size: 130%
}

h4 {
    font-size: 120%
}

h5 {
    font-size: 110%
}

a, p, ul {
    text-align: left;
    color: salmon;
    font-size: 110%
}

/* new style class for login */
/* input[type=text] {
    width: 40%;
    padding: 4px 10px;
    margin: 8px 0;
    border: 2px solid lightsalmon;
    box-sizing: border-box;
    border-radius: 4px;
}
input[type=text]:focus {
    background-color: lightsalmon;
}
input[type=button], input[type=submit] {

    width: 40%;
    padding: 4px 10px;
    margin: 12px 0;
    border: 2px solid salmon;
    box-sizing: border-box;
    border-radius: 4px;
} */

/* table class articleTable */
table.articleTable {
    border: 1px solid rgba(255, 191, 54, 0.397);

    width: 100%;
    border-collapse: collapse;
}
table.articleTable td {
    height: 90;
    padding: 15px;
    text-align: left;
}

/* table class tableSimple  */
table.tableSimple table, td, th {
    border: 1px solid rgba(255, 191, 54, 0.397);
}

table.tableSimple table {
    width: 25%;
    border-collapse: collapse;
}
table.tableSimple td, th {
    height: 25px;
    padding: 15px;
    text-align: left;
}
table.tableSimple th {
    background-color: #ff4f1934;
    color: rgb(252, 121, 33);
}
table.tableSimple tr:hover {background-color: #ff8c203d;}
table.tableSimple tr:nth-child(even) {background-color: #000000;}

/* navigation bar  */
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
} 
nav{
  display: flex;
  height: 60px;
  width: 100%;
  background: #1b1b1b;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 100px;
  flex-wrap: wrap;
}
nav .logo{
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}
nav ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
nav ul li{
  margin: 0 5px;
}
nav ul li a{
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
nav ul li a.active,
nav ul li a:hover{
  color: #111;
  background: #fff;
}
nav .menu-btn i{
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  display: none;
}
input[type="checkbox"]{
  display: none;
}
@media (max-width: 1000px){
  nav{
    padding: 0 40px 0 50px;
  }
}
@media (max-width: 920px) {
  nav .menu-btn i{
    display: block;
  }
  #click:checked ~ .menu-btn i:before{
    content: "\f00d";
  }
  nav ul{
    position: fixed;
    top: 80px;
    left: -100%;
    background: #111;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }
  #click:checked ~ ul{
    left: 0;
  }
  nav ul li{
    width: 100%;
    margin: 40px 0;
  }
  nav ul li a{
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #click:checked ~ ul li a{
    margin-left: 0px;
  }
  nav ul li a.active,
  nav ul li a:hover{
    background: none;
    color: cyan;
  }
}
.content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: -1;
  width: 100%;
  padding: 0 30px;
  color: #1b1b1b;
}
.content div{
  font-size: 40px;
  font-weight: 700;
}

/* Popup login */
.container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.container h1{
  color: #fff;
  font-size: 36px;
  margin-bottom: 40px;
}
.button{
  background: #fff;
  padding: 10px 15px;
  color: rgb(95, 54, 0);
  font-family: bolder;
  text-transform: uppercase;
  font-size: 18px;
  border-radius: 5px;
  box-shadow: 6px 6px 29px -4px rgba(0, 0, 0, 0.75);
  margin-top: 25px;
  text-decoration: none;
  transition: 0.4s;
}
.button:hover{
  background: grey;
  color: #fff;
}

.popup{
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.popup-content{
  height: 250px;
  width: 500px;
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  position: relative;
}

input{
  margin: 20px auto;
  display: block;
  width: 50%;
  padding: 8px;
  border: 1px solid gray;
}

.close{
  position: absolute;
  top: -12px;
  right: -30px;
  background: none;
  height: 64px;
  width: 64px;
  border-radius: 50%;
  box-shadow: 6px 6px 29px -4px (0, 0, 0, 0.75);
  cursor: pointer;
}

.userIcon{
  position: absolute;
  top: 40px;
  left: 30px;
  height: 80px;
  width: 80px;
}