/* second scc-script */

{
   padding; 0;
   margin: 0;
}



#h1 {
  position: relative;
  text-align: center;
  left: 50%;
  top: 20%;
}

#katalog {
  position: relative;
  width: 900px;
  left: 50%;
}

#katalog div {
    width 200px;
    height: 150px;
    margin: 25px;
} */
